﻿@{
    ViewBag.Title = "Index";
}
<link href="~/Content/blockrain.css" rel="stylesheet" />
<script src="~/Scripts/blockrain.jquery.js"></script>
<script src="~/Scripts/blockrain.jquery.min.js"></script>
<h2>Index</h2>
