﻿@model IEnumerable<pagingNSortingInMVC4.Employee>
@using MvcExtension

@{
    ViewBag.Title = "Employee List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a href="/controllername/actionname">text</a>
<h2>Employee List For User for user uesrchnage</h2>

@Html.MvcGrid(Model, 2)

@*@using (Html.BeginForm())
{      
    <table>
        <tr>
            <th style="border: 2px solid black; text-align: center; width: 12%">
                @Html.ActionLink("Employee ID", "Index",
            new { sortOrder = "Emp_ID", CurrentSort = ViewBag.CurrentSort })
            </th>
            <th style="border: 2px solid black; text-align: center; width: 25%">
                @Html.ActionLink("Employee Name", "Index",
            new { sortOrder = "Emp_Name", CurrentSort = ViewBag.CurrentSort })
            </th>
            <th style="border: 2px solid black; text-align: center; width: 15%;">
                @Html.ActionLink("Email", "Index",
            new { sortOrder = "Email", CurrentSort = ViewBag.CurrentSort })
            </th>
            <th style="border: 2px solid black; text-align: center; width: 10%;">
                @Html.ActionLink("Designation", "Index",
            new { sortOrder = "Designation", CurrentSort = ViewBag.CurrentSort })
            </th>
            <th style="border: 2px solid black; text-align: center; width: 10%;">
                @Html.ActionLink("City", "Index",
            new { sortOrder = "City", CurrentSort = ViewBag.CurrentSort })
            </th>

            <th style="border: 2px solid black; text-align: center; width: 10%;">
                @Html.ActionLink("State", "Index",
            new { sortOrder = "State", CurrentSort = ViewBag.CurrentSort })
            </th>
            <th style="border: 2px solid black; text-align: center; width: 10%;">
                @Html.ActionLink("Country", "Index",
            new { sortOrder = "Country", CurrentSort = ViewBag.CurrentSort })
            </th>

        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td style="border: 2px solid black; text-align: center; word-wrap: break-word;">
                    @Html.DisplayFor(modelItem => item.Emp_ID)
                </td>
                <td style="border: 2px solid black; text-align: center; word-wrap: break-word;">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td style="border: 2px solid black; text-align: center; word-wrap: break-word;">
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td style="border: 2px solid black; text-align: center; word-wrap: break-word;">
                    @Html.DisplayFor(modelItem => item.Designation)
                </td>
                <td style="border: 2px solid black; text-align: center; word-wrap: break-word;">
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td style="border: 2px solid black; text-align: center; word-wrap: break-word;">
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td style="border: 2px solid black; text-align: center; word-wrap: break-word;">
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
            </tr>
        }
    </table> 
    <br />
    <div id='Paging' style="text-align: center">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
        of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>
}*@           